.introduction {
    padding: 50px 0px 20px;
}

.introduction__text {
    margin: 0px;
}
.introduction__text-block {
    display: block;
    margin: 0px 0px 10px;
}

.introduction__text-block_align {
    margin: 0px 0px 10px;
    text-align: center;
}

.introduction__img {
    max-width: 100%;
}


@media (min-width: 768px) {
    .introduction__text-wrap {
        margin: 0 auto;
        width: 500px;
    }
}

@media (min-width: 1620px) {
    .introduction__text-wrap {
        width: 800px;
    }
    
}