.mission {
    margin-bottom: 50px;
    padding: 50px 0px;
    min-height: 500px;
    background-image: url(/images/about-company/mission-bg.jpg);
    background-position: top center;
    background-size: cover;
}

.mission__text {
    padding: 20px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(83, 141, 204, 0.8);
}

.mission__text span {
    display: block;
}

.mission__text_padding_bottom {
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .mission__text {
        margin: 0 auto;
        width: 500px;
    }
}

@media (min-width: 1620px) {
    .mission__text {
        width: 800px;
    }
    
}