.title-block {
    padding: 50px 0px;        
    min-height: 300px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center top;
    background-image: url(/images/cpg-partner-block/why-cpg-partneg-bg-min.png);
}

.title-block__heading::after {
    content: '';
    display: block;
    margin: 20px auto 0px;
    border: 30px solid transparent;
    border-top: 43px solid #ffffff;    
    width: 0;
    height: 0;
}

.figures_max {
    padding: 50px 0px;
    background-size: cover;
    background-position: center bottom;
    background-image: url(/images/cpg-partner-block/figures-why-cpg-partneg-bg-min.png);
}

.figures__list_max {
    margin-bottom: 0px;
}

.figures__text_font {
    font-family: 'Gotham Pro Medium';
    color: #538dcc;
}

@media (min-width: 768px) {  

    .figures__list_max::before {        
        width: 320px;
    } 
}

@media (min-width: 1620px) {   

    .title-block {    
        min-height: 500px;
    }
    
    .figures__list_max {

        margin-bottom: 0px;        

            &::before {
            width: 790px;
            }
    }

    .figures__item_max {
        flex: 0 0 350px;
    }

}

