<section class="figures">
    <div class="container">

        <h2 class="figures__title h2-style">CLEANING PRO GROUP</h2>
        <p class="figures__subheading subheading-style">в цифрах</p>

        <a href="#" class="figures__logo">
            <img src="/images/logo-cpg.png" width="150px" alt="Логотип компанії" 
                 class="figures__logo-img">
        </a>                     

        <ul class="figures-list figures-list_before list">
            
            <li class="figures-list__item value-text-1">
                <p class="figures-list__value">12</p>
                <p class="figures-list__text">Років на ринку України.</p>
            </li>

            <li class="figures-list__item value-text-2">
                <p class="figures-list__value">100+</p>
                <p class="figures-list__text">Компаній обслуговуємо по всій Україні</p>
            </li>

            <li class="figures-list__item value-text-3">
                <p class="figures-list__value">1050</p>
                <p class="figures-list__text">Точок в обслуговуванні по всій території України.</p>
            </li>

            <li class="figures-list__item value-text-4">
                <p class="figures-list__value">ISSA</p>
                <p class="figures-list__text">Єдині представники від України в світовій організації. ISSA з 2009 року.</p>
            </li>

        </ul>

        <a href="" class="more-btn style-btn hover-btn link">Дізнатися більше про <br> Cleaning Pro Group</a>
    </div>
</section>