<section class="figures__home-page">
  <div class="container">
    <h2 class="figures__title h2 h2_margin-bottom">CLEANING PRO GROUP</h2>
    <p class="figures__subheading subheading-style">в цифрах</p>

    <article class="figures">
      <a href="#" class="figures__logo">
        <img
          src="/images/logo-cpg.png"
          width="150px"
          alt="Логотип компанії"
          class="figures__logo-img"
        />
      </a>

      <ul class="figures__list figures__list_before list">
        <li class="figures__item">
          <p class="figures__value h2">12</p>
          <p class="figures__text main-text">Років на ринку України.</p>
        </li>

        <li class="figures__item">
          <p class="figures__value h2">100+</p>
          <p class="figures__text main-text">
            Компаній обслуговуємо по всій Україні
          </p>
        </li>

        <li class="figures__item">
          <p class="figures__value h2">1050</p>
          <p class="figures__text main-text">
            Точок в обслуговуванні по всій території України.
          </p>
        </li>

        <li class="figures__item">
          <p class="figures__value h2">ISSA</p>
          <p class="figures__text main-text">
            Єдині представники від України в світовій організації. ISSA з 2009
            року.
          </p>
        </li>
      </ul>
    </article>

    <a href="../../about.html" class="figures__btn style-btn link"
      >Дізнатися більше</a
    >
  </div>
</section>
