<div class="container">
    <div class="header__wrap">
       
        <div class="header__logo-wrap">

            <a href="#" class="header__logo">
                <img src="/images/logo-cpg.png" width="150px" alt="Логотип компанії" class="logo-img">
            </a>

            <p class="header__logo-descriptor">ОБСЛУГОВУВАННЯ ТА <br> УПРАВЛІННЯ НЕРУХОМІСТЮ</p>

        </div>

        <ul class="contacts-list list">

            <li class="contacts-list__item city-name">Київ</li>

            <li class="contacts-list__item contact__icon-phone">
                <a class="contact-info link" href="" class="">0 800 33 64 74</a>
            </li>
            <li class="contacts-list__item contact__icon-email">
                <a class="contact-info link f-text email-icon" href="" class="">office@cleaning-pro.com.ua</a>
            </li>
            <li class="contacts-list__item">
                <a class="contact-info link f-text place-icon" href="" class="">вул. Новоконстантинівська 13/10</a>
            </li>
        </ul>
    </div>
        
            <ul class="social-list list">

                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/facebook.svg" width="30px" alt="">
                    </a>
                </li>

                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/instagram.svg" width="30px" alt="">
                    </a>
                </li>

            </ul>              
    </div>
    
    <ul class="additional-info list">
        <li class="additional-info__item additional-info__item_bg">
            <a href="" class="additional-info__link link">Політика конфіденційності</a>
        </li>
        <li class="additional-info__item">
            <a href="" class="additional-info__link link">© 2020 Cleaning Pro group Всі права захищені.</a>
        </li>
    </ul>
