<div class="container">
    <div class="company-info-wrap company-info-wrap_footer_position">
       
        <div class="logo-box-wrap logo-box-wrap_footer-position">

            <a href="#" class="logo-link">
                <img src="/images/logo-cpg.png" width="150px" alt="Логотип компанії" 
                     class="logo-link__img">
            </a>

            <p class="logo-descriptor">ОБСЛУГОВУВАННЯ ТА <br> УПРАВЛІННЯ НЕРУХОМІСТЮ</p>

        </div>

        <ul class="contacts-list                   
                   list">

            <li class="contacts-list__item 
                       contacts-list__item_text-font">Київ
            </li>

            <li class="contacts-list__item 
                       contacts-list__item_icon-phone">
                <a href="" 
                   class="contacts-list__contact 
                          link 
                          contacts-list__contact_text-color">0 800 33 64 74</a>
            </li>

            <li class="contacts-list__item 
                       contacts-list__item_icon-email">
                <a href="" 
                   class="contacts-list__contact 
                          link
                          contacts-list__contact_text-color">office@cleaning-pro.com.ua</a>
            </li>

            <li class="contacts-list__item contacts-list__item_icon-point">
                <a href="" 
                   class="contacts-list__contact
                          link
                          contacts-list__contact_text-color">вул. Новоконстантинівська 13/10</a>
            </li>

        </ul>
    </div>
        
            <ul class="social-list list">
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/facebook.svg" 
                             width="30px" 
                             alt=""
                             class="social-list_icon">                             
                             
                    </a>
                </li>

                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/instagram.svg" 
                             width="30px" 
                             alt=""
                             class="social-list_icon">
                    </a>
                </li>

            </ul>              
    </div>
    
    <ul class="additional-info list">

        <li class="additional-info__item 
                   additional-info__item_bg-color">
            <a href="" class="additional-info__link
                              additional-info__item_text-color
                              link">Політика конфіденційності</a>
        </li>

        <li class="additional-info__item">
            <a href="" 
            class="additional-info__link
                              additional-info__item_text-color
                              link">© 2020 Cleaning Pro group Всі права захищені.</a>
        </li>

    </ul>


