<footer class="footer">
<div class="container">

    <div class="company-info-wrap company-info-wrap_footer_position">
       
        <div class="logo logo__footer">

            <a href="#" class="logo__link">
                <img src="/images/logo-cpg.png" width="150px" alt="Логотип компанії" 
                     class="logo__img">
            </a>

            <p class="logo__descriptor">ОБСЛУГОВУВАННЯ ТА <br> УПРАВЛІННЯ НЕРУХОМІСТЮ</p>

        </div>

<div class="contacts__footer-wrap">
        <ul class="contacts-list list">

            <li class="contacts-list__item main-text main-text_bold">Київ
            </li>

            <li class="contacts-list__item 
                       contacts-list__phone-icon_blue">
                <a href="tel:0800336474" 
                   class="contacts-list__link                          
                          main-text
                          link">0 800 33 64 74</a>
            </li>

            <li class="contacts-list__item 
                       contacts-list__email-icon_blue">

                <a href="mailto:office@cleaning-pro.com.ua" 
                   class="contacts-list__link                          
                          main-text
                          link">office@cleaning-pro.com.ua
                </a>

            </li>

            <li class="contacts-list__item contacts-list__point-icon">
                <a href="" 
                   class="contacts-list__link                          
                          main-text
                          link">вул. Новоконстантинівська 13/10</a>
            </li>

        </ul>
    </div>
    </div>
        
            <ul class="social-list list">
                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/facebook.svg" 
                             width="30px" 
                             alt=""
                             class="social-list_icon">                             
                             
                    </a>
                </li>

                <li class="social-list__item">
                    <a href="" class="social-list__link">
                        <img src="/images/socials-icons/instagram.svg" 
                             width="30px" 
                             alt=""
                             class="social-list_icon">
                    </a>
                </li>

            </ul>              
    </div>
    
    <ul class="additional-info list">

        <li class="additional-info__item 
                   additional-info__item_bg-color">
            <a href="" class="additional-info__link
                              additional-info__item_text-color
                              link">Політика конфіденційності</a>
        </li>

        <li class="additional-info__item">
            <a href="" 
            class="additional-info__link
                              additional-info__item_text-color
                              link">© 2020 Cleaning Pro group Всі права захищені.</a>
        </li>

    </ul>

</footer>


