<header class="header">
  <div class="container">
    <div class="header__top-block">
      <div class="logo__info">
        <a href="#" class="logo__link">
          <img
            src="/images/logo-cpg.png"
            alt="Логотип компанії"
            class="logo__img"
          />
        </a>

        <p class="logo__descriptor">
          ОБСЛУГОВУВАННЯ ТА <br />
          УПРАВЛІННЯ НЕРУХОМІСТЮ
        </p>
      </div>

      <ul class="contacts__list">
        <li class="contacts__item contacts__item_icon-phone">
          <a
            href="tel:0800336474"
            class="contacts__link link main-text main-text_mobile"
            >0 800 33 64 74</a
          >
        </li>

        <li class="contacts__item contacts__item_icon-email">
          <a
            href="mailto:office@cleaning-pro.com.ua"
            class="contacts__link link main-text main-text_mobile"
            >office@cleaning-pro.com.ua</a
          >
        </li>
      </ul>

      <div class="header__wrap_btn-style">
        <div class="header__menu-btn js-menu-btn hamburger"></div>
      </div>
    </div>
  </div>

  <nav class="navigation">
    <div class="container">
      <ul class="navigation__list main-text main-text_white list">
        <li class="navigation__item">
          <a
            href="../../index.html"
            class="navigation__link navigation__link_white link"
            >Головна</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="../../about-company.html"
            class="navigation__link navigation__link_white link"
            >Про компанію</a
          >
        </li>
        <!-- <li class="navigation__item"><a href="" class="navigation__link navigation__link_white link">Блог</a</li> -->
        <li class="navigation__item">
          <a
            href="../../commercial.html"
            class="navigation__link navigation__link_white link"
            >Комерційна нерухомість</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="../../state.html"
            class="navigation__link navigation__link_white link"
            >Державна нерухомість</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="../../services-page.html"
            class="navigation__link navigation__link_white link"
            >Послуги</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="../../contacts.html"
            class="navigation__link navigation__link_white link"
            >Контакти</a
          >
        </li>
        <!-- <li class="navigation__item"><a href="" class="navigation__link navigation__link_white link">Вакансії</a></li> -->
      </ul>
    </div>
  </nav>
</header>
<div class="menu-overlay"></div>

<!-- <header class="header header_fixed">

    <div class="container">

        <div class="header-top">

            <div class="logo header__logo">        

                <a href="index.html" class="logo__link">
                    <img src="./images/logo-cpg.png" width="150px" alt="Логотип компанії" 
                         class="logo__img">
                </a>

                <p class="logo__descriptor">ОБСЛУГОВУВАННЯ ТА <br> УПРАВЛІННЯ НЕРУХОМІСТЮ</p>                        
            </div> 
                    
            <div class="contacts">

                <ul class="contacts-list header__contacts list">
                    <li class="contacts-list__item 
                               contacts-list__phone-icon">
                               
                        <a href="tel:0800336474" 
                           class="contacts-list__link_color main-text link">0 800 33 64 74</a>
                    </li>

                    <li class="contacts-list__item
                               contacts-list__email-icon">

                        <a href="mailto:office@cleaning-pro.com.ua"
                           class="contacts-list__link_color main-text link">office@cleaning-pro.com.ua
                        </a>

                    </li>
                </ul>        
                
                <div class="menu-wrap">
                    <div class="header__menu-btn hamburger"></div>
                </div>
            
            </div>
    
        </div>    
</div> 
            
           
            </nav>                      
        
</header> -->
