<section class="intro">

    <h1 class="intro__title h1-style">CLEANING PRO GROUP</h1>
    <p class="intro__descriptor">НАШІ ТЕХНОЛОГІЇ ЗАОЩАДЯТЬ <br> ВАШІ ГРОШІ ТА ЧАС</p>    

    <ul class="intro__buttons list">
        <li class="intro__button-item">
            <a href="/commercial.html" 
               class="intro__button style-btn hover-btn link">Комерційна нерухомість</a>
        </li>

        <li class="intro__button-item">
            <a class="intro__button style-btn hover-btn link">Державна нерухомість</a>
        </li>
    </ul>

</section>