<section class="commercial__intro">
    <div class="container">        

        <h1 class="commercial__heading">            
            <div class="service__heading_style-1 heading-style-1">Обслуговування</div>
            <div class="service__heading_style-2 heading-style-2">КОМЕРЦІЙНОЇ</div>
            <div class="service__heading_style-1 heading-style-1">нерухомості</div>
        </h1>        

        <button class="style-btn hover-btn">Замовити безкоштовний аудит</button>
    </div>
</section>