<section class="state__intro">
    <div class="container">        

        <h1 class="property__heading">            
            <div class="service__heading_style-1 heading-style-1">Обслуговування</div>
            <div class="service__heading_style-2 heading-style-2">державної</div>
            <div class="service__heading_style-1 heading-style-1">нерухомості</div>
        </h1>        

        <button class="style-btn btn-form" data-form-title='Запросити нас на тендер'>Запросити нас на тендер</button>
    </div>
</section>