<section class="description">

    <div class="container">

        <h2 class="description__title h2 h2_margin-bottom">ЧОМУ ВАМ ВИГІДНО</h2>
        <p class="description__subheading subheading-style">делегувати управління нерухомістю <br> <span>CLEANING PRO GROUP</span> </p>
        
    <div class="advantages-wrap">

        <article class="advantages__block">            
            
            <div class="heading-wrap">
                <h3 class="advantages__heading h3">Комунікація та контроль 24/7</h3>
            </div>
            
            <img src="/images/services-page/Manager-min.jpg" alt="" class="advantages__img">

            <h4 class="advantages__block-name h4">Персональний менеджер контролює ситуацію на об’єкті 24/7.</h4>

                <ul class="advantages  list">
                    <li class="advantages__item advantages__item_before_triangle main-text">Зручна та швидка комунікація з менеджером об’єкта через мобільний додаток.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Мобільна бригада швидкого реагування виключає можливість форсмажорних ситуацій.</li>
                </ul>        
    
        </article>

        <article class="advantages__block">
            
            <div class="heading-wrap">
                <h3 class="advantages__heading h3">One Touch рішення</h3>
            </div>

            <img src="/images/services-page/One-Touch-min.jpg" alt="" class="advantages__img">

            <h4 class="advantages__block-name h4">Комплексні рішення під ключ будь якої складності.</h4>

                <ul class="advantages list">
                    <li class="advantages__item advantages__item_before_triangle main-text">Обслкговування та підтримка всіх комунікацій і систем життєзабезпечення об’єкта.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Комплексне обслуговування прилеглої території. </li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Власний технічно-інжинерний відділ.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Аварійно виїздна бригада..</li>
                </ul>

        </article>

        <article class="advantages__block">
            
            <div class="heading-wrap">
                <h3 class="advantages__heading h3">Кваліфіковані працівники</h3>
            </div>

            <img src="/images/services-page/Staff-min.jpg" alt="" class="advantages__img">

            <h4 class="advantages__block-name h4">Підбераємо персоонал згідно  особливостей об’єкта.</h4>

                <ul class="advantages list">
                    <li class="advantages__item advantages__item_before_triangle main-text">Авторська навчальна програма персоналу.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Прискіпливий відбір та регулярний інструктаж.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Несемо відповідальність за своїх співробітників.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Контроль якості виконання службових обов’язків.</li>
                </ul>

        </article>

        <article class="advantages__block">
            
            <div class="heading-wrap">
                <h3 class="advantages__heading h3">Адаптоване програмне забезпечення</h3>
            </div>

            <img src="/images/services-page/Programs-min.jpg" alt="" class="advantages__img">

            <h4 class="advantages__block-name h4">Рішення під ключ будь якої складності обслуговування.</h4>

                <ul class="advantages list">
                    <li class="advantages__item advantages__item_before_triangle main-text">Зручна та швидка комунікація з менеджером об’єкта через мобільний додаток.</li>
                    <li class="advantages__item advantages__item_before_triangle main-text">Мобільна бригада швидкого реагування виключає можливість форсмажорних ситуацій.</li>
                </ul>

        </article>
        
    </div>        
</div>

</section>