<section class="services">

          
    <h2 class="services__title h2-style">НАШІ ПОСЛУГИ</h2>


    <article class="service service__commercial_bg">
        <div class="container">
            <h3 class="service__heading">
                <div class="service__heading_style-1">Обслуговування</div>
                <div class="service__heading_style-2">КОМЕРЦІЙНОЇ</div>
                <div class="service__heading_style-1">нерухомості</div>
            </h3>

            <p class="service__subheading">Рішення під ключ будь-якої складності.</p>

            <ul class="advantages list">
                <li class="advantages__item">Комунікація з менеджером 24/7</li>
                <li class="advantages__item">One Touch рішення</li>
                <li class="advantages__item">Кваліфіковані працівники</li>
                <li class="advantages__item">Адаптоване програмне забезпечення</li>
            </ul>

            <button class="service__more-btn style-btn hover-btn services__btn-style">Дізнатися більше</button>
        </div>

    </article>

    <article class="service service__state_bg">
        <div class="container">
            <h3 class="service__heading">
                <div class="service__heading_style-1">Обслуговування</div>
                <div class="service__heading_style-2">ДЕРЖАВНОЇ</div>
                <div class="service__heading_style-1">нерухомості</div>
            </h3>

            <p class="service__subheading">В будь якій ситуації ми завжди з вами.</p>

            <ul class="advantages list">
                <li class="advantages__item">Комунікація з менеджером 24/7</li>
                <li class="advantages__item">One Touch рішення</li>
                <li class="advantages__item">Кваліфіковані працівники</li>
                <li class="advantages__item">Адаптоване програмне забезпечення</li>
            </ul>

            <button class="service__more-btn style-btn hover-btn services__btn-style">Дізнатися більше</button>                    
        </div>
    </article>

        
  

</section>