<section class="services">
          
    <h2 class="services__title h2">НАШІ ПОСЛУГИ</h2>

    <article class="service service_commercial_bg">
        <div class="container">
            <h3 class="service__heading">
                <div class="heading-style-1 heading-style-1_align_left">Обслуговування</div>
                <div class="heading-style-2 heading-style-2_align_left">КОМЕРЦІЙНОЇ</div>
                <div class="heading-style-1 heading-style-1_align_left">нерухомості</div>
            </h3>

            <p class="subheading-style subheading-style_position subheading-style_font_color">Рішення під ключ будь-якої складності.</p>

            <ul class="advantages advantages_position list">
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Комунікація з менеджером 24/7</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">One Touch рішення</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Кваліфіковані працівники</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Адаптоване програмне забезпечення</li>
            </ul>

            <button class="service__more-btn style-btn hover-btn services__btn-style">Дізнатися більше</button>
        </div>
    </article>

    <article class="service service_state_bg">
        <div class="container">
            <h3 class="service__heading">
                <div class="heading-style-1 heading-style-1_align_left">Обслуговування</div>
                <div class="heading-style-2 heading-style-1_align_left">ДЕРЖАВНОЇ</div>
                <div class="heading-style-1 heading-style-1_align_left">нерухомості</div>
            </h3>

            
            <p class="subheading-style subheading-style_position subheading-style_font_color">В будь якій ситуації ми завжди з вами.</p>

            <ul class="advantages advantages_position list">
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Комунікація з менеджером 24/7</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">One Touch рішення</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Кваліфіковані працівники</li>
                <li class="advantages__item advantages__item_before_square advantages__item_font_color main-text">Адаптоване програмне забезпечення</li>
            </ul>

            <button class="service__btn style-btn services__btn-style">Дізнатися більше</button>                    
        </div>
    </article>

        
  

</section>