<section class="trust-us">
  <h2 class="trust-us__title h2">НАМ ДОВІРЯЮТЬ</h2>

  <article class="logo-box-mob trust-us__slider">
    <div class="owl-carousel owl-theme logo-box-mob__slider">
      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Vodafone-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Cypress-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Iqos-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Kiehl-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Kimberly-Clark-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Lubava-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Mondeliz-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Moyo-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/NABU-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/bam-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/CBRE-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Chamber-of-Accounts-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Darinok-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Dezo-mark-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Estee-Lauder-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Fabrika-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Fiscal-service-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Furshet-min.png"
          alt=""
        />
      </div>

      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Glusko-min.png"
          alt=""
        />
      </div>
      <div class="carusel-item logo-box-mob__item">
        <img
          class="carusel-img logo-box-mob__img"
          src="/images/trust-us/Good-Life-min.png"
          alt=""
        />
      </div>
    </div>
  </article>

  <article class="logo-box-pc logo-box-pc_bg_color">
    <div class="container">
      <ul class="logo-pc list">
        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Vodafone-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Cypress-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Iqos-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Kiehl-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Kimberly-Clark-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Lubava-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Mondeliz-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Moyo-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/NABU-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/bam-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/CBRE-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Chamber-of-Accounts-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Darinok-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Dezo-mark-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Estee-Lauder-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Fabrika-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Fiscal-service-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>

        <li class="logo-box-pc__item">
          <img
            src="/images/trust-us/Furshet-min.png"
            alt=""
            class="logo-box-pc__img"
          />
        </li>
      </ul>
    </div>
  </article>
</section>
