<section class="trust-us">            

    <h2 class="trust-us__title h2-style">НАМ ДОВІРЯЮТЬ</h2>

    <article class="logo-box-mob__slider trust-us__slider">
        
        <div class="owl-carousel owl-theme logo-box-mob__slider">
                        
            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/BAM.png" alt="">
            </div>  

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Cypress.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Iqos.png" alt="">
            </div> 

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>              

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item logo-box-mob__item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>              

        </div>
    </article>            

    <!-- <article class="trust-us__logo-slider">
        <div class="owl-carousel owl-theme trust-us__slider">
                        
            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/BAM.png" alt="">
            </div>  

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Cypress.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Iqos.png" alt="">
            </div> 

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>              

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>

            <div class="carusel-item trust-us-item">
                <img class="carusel-img" src="/images/trust-us/Vodafone.png" alt="">
            </div>              

        </div>
    </article>             -->

    <article class="logo-box-pc">
        <div class="container">
            <ul class="logo-pc list">
                <li class="logo-pc__item">
                    <img src="images/trust-us/Vodafone.png" alt="" class="logo-pc__img">
                </li>

                <li class="logo-pc__item">
                    <img src="images/trust-us/Watsons.png" alt="" class="logo-pc__img">
                </li>

                <li class="logo-pc__item">
                    <img src="images/trust-us/Fabrika.png" alt="" class="logo-pc__img">
                </li>

                <li class="logo-pc__item">
                    <img src="images/trust-us/PZU.png" alt="" class="logo-pc__img">
                </li>

                <li class="logo-pc__item">
                    <img src="images/trust-us/Glusko.png" alt="" class="logo-pc__img">
                </li>

                <li class="logo-pc__item">
                    <img src="images/trust-us/Iqos.png" alt="" class="logo-pc__img">
                </li>
            </ul>

            <button class="more-logo reset-btn style-btn hover-btn">Показати більше</button>
            
        </div>
    </article>

</section>
