.figures__home-page {
    padding: 30px 0px 50px;
    background-image: url(/images/home-page/figures-bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.figures__subheading {
    margin: 0px 0px 20px; 
}

.figures__logo {
    display: block;
    text-align: center;
}

.figures__logo-img {
    margin-bottom: 20px;
}

.figures__list {
    margin: 0px 0px 20px;
}

.figures__text {
    text-align: center;
}

.figures__item {

    &::before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 2px;
        height: 22px;
        border-left: 2px dashed #538dcc;
    }
}

.figures__value {
    margin: 0px;    
    color: #538dcc;
}

.figures__text {
    margin: 0 auto 10px;
    width: 250px;
}

@media (min-width: 768px) {

    .figures__logo::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 2px;
        height: 22px;
        border-left: 2px dashed #538dcc;
    }  

    .figures__list {                
        display: flex;
        justify-content: center;        
        flex-wrap: wrap;
        
        &::before {
            content: '';                     
            display: block;
            height: 2px;
            border-top: 2px dashed #538dcc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .figures__list_before::before {        
            width: 320px;
    }

    .figures__item {
        flex: 0 0 320px;
    }          

}

@media (min-width: 1620px) {

    .figures__home-page {
        padding: 30px 0px 50px; 
    }

    .figures__logo-img {
        width: 200px;
    } 

    .figures__subheading {
        margin-bottom: 50px;
    }

    .figures__logo::after {
        height: 44px;
    }

    .figures__list {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }

    .figures__list_before::before {
        width: 880px;        
    }

    .figures__item::before {
        height: 44px;
    }

    .figures__item {
        flex: 0 0 260px;
    }
}