
.figures {
    padding: 30px 0px 50px;
    text-align: center;
    font-family: 'Gotham Pro Medium';
    background-image: url(/images/home-page/figures-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.figures__descriptor {
    margin: 0px 0px 20px;
    font-size: 20px;
    line-height: 30px;
}
.figures__logo-img {
    margin-bottom: 20px;
}

.figures-list {
    margin: 0px 0px 20px;
}

.figures-list__item {
    font-family: 'Gotham Pro Regular';

    &::before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 2px;
        height: 22px;
        border-left: 2px dashed #538dcc;
    }
}

// .figures-list__item::after {
//     content: '';
//     display: block;
//     width: 200px;
//     margin: 0 auto 10px;
//     font-family: 'Gotham Pro Regular';
//     font-size: 14px;
//     line-height: 18px;
// }


.figures-list__value {
    margin: 0px;
    font-size: 38px;
    font-weight: bold;
    color: #538dcc;
}

.figures-list__text {
    margin: 0 auto 10px;
    width: 250px;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        max-width: 100%; 
        margin: 0 auto;
    }

    .figures__logo::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 2px;
        height: 22px;
        border-left: 2px dashed #538dcc;
    }  

    .figures-list {                
        display: flex;
        justify-content: center;        
        flex-wrap: wrap;
        
        &::before {
            content: '';                     
            display: block;
            width: 320px;
            height: 2px;
            border-top: 2px dashed #538dcc;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .figures-list__item {
        flex: 0 0 320px;
    }          

}

@media (min-width: 1620px) {

    .container {
        width: 1140px;
        max-width: 100%; 
        margin: 0 auto;
    }

    // .h2-style {
    //     font-size: 60px;
    //     margin-bottom: 50px;
    // }

    .figures {
        padding: 80px 0px 120px; 
    }

    .figures__logo-img {
        width: 200px;
    } 

    .figures__descriptor {
        margin-bottom: 64px;
        font-size: 36px;
        line-height: 44px;
    }

    .figures__logo::after {
        height: 44px;
    }

    .figures-list {
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;

        &::before {
            width: 860px;
        }
    }

    .figures-list__item::before {
        height: 44px;
    }

    .figures-list__value {
        font-size: 80px;
    }

    .figures-list__item {
        flex: 0 0 260px;
    }
}