footer {
    background-color: #f8f9fa;
}
.social-list {
    margin: 0 auto;
    width: 80px;
    display: flex;    
    justify-content: space-between;
}

.additional-info {
    text-align: center;
}

.additional-info__item_bg {
    background-color: #f3f4f6;
}

@media (min-width: 768px) {

    .container {
        width: 768px;
        max-width: 100%; 
        margin: 0 auto;
    }
}

@media (min-width: 1620px) {

    .container {
        width: 1140px;
        max-width: 100%; 
        margin: 0 auto;
    }
 
}