.footer {
    font-family: 'Gotham Pro Regular';    
    background-color: #f8f9fa;
}

.footer__info {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.logo__footer {
    margin-bottom: 20px;
}

.contacts__item_align {
    text-align: center;
}

.footer__social-icon {
    margin: 0 auto 20px;
    display: block;
}
.logo__footer-img_size {
    width: 150px;
}

.technical-info {
    margin: 0px;
}

.technical-info__item {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technical-info__item_bg {
    background-color: #f3f4f6;    
}

@media (min-width: 768px) {

    .footer__info {
        padding: 20px 0px;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo__footer {
        margin-bottom: 0px;
    }

    .footer__info {
        align-items: flex-end;
    }
}

@media (min-width: 1620px) {

}