.footer {
    font-family: 'Gotham Pro Regular';    
    background-color: #f8f9fa;
}

.company-info-wrap_footer_position {
    padding: 20px 0px 20px;
}

.logo__footer {
    margin-bottom: 20px;
}

.contacts__footer-wrap {
    display: flex;
    justify-content: center;
}

.social-list {
    margin: 0 auto 20px;    
    width: 80px;    
    display: flex;    
    justify-content: space-between;
}

.additional-info {
    margin: 0px;
}

.additional-info__link {
    text-align: center;
    font-size: 14px;
}

.additional-info__item {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-info__item_bg-color {
    background-color: #f3f4f6;    
}

.additional-info__item_text {
    font-size: 14px;
    color: #000000;
}

@media (min-width: 768px) {

    // .container {
    //     width: 768px;
    //     max-width: 100%; 
    //     margin: 0 auto;
    // }
}

@media (min-width: 1620px) {

    // .container {
    //     width: 1140px;
    //     max-width: 100%; 
    //     margin: 0 auto;
    // }
 
}