.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; 
    padding: 0px 10px 0px 10px;   
  }

.header {
    font-family: 'Gotham Pro Regular';    
}

.logo-box-wrap {
    display: flex;
    justify-content: flex-start;    
    align-items: flex-end;
}

.logo-box-wrap_position {
    padding: 10px 0px 10px;
}

.logo-descriptor {
    margin: 0px;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.contacts-wrap {                
    display: flex;
    justify-content: space-between;    
    align-items: center;
    background-color: #538dcc;
}

.contacts-list {
    margin: 0px;
    
}

.contacts-list__item {
    display: flex;
    align-items: center;
}

.contacts-list__item::before {
    content: '';
    display: block;    
    width: 18px;    
    height: 18px;        
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
}

.contacts-list__item_icon-phone::before {
    background-image: url(/images/contact-icons/phone.svg);
}

.contacts-list__item_icon-email::before {
    background-image: url(/images/contact-icons/email.svg);
}

.contacts-list__item_icon-point::before {
    background-image: url(/images/contact-icons/map-locator.svg);
}

.contacts-list__contact {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

/* Mobile menu*/
.header__menu-btn {
    padding: 0px;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(/images/menu-btn-img.png);
}

.navigation {
    padding-left: 15px;
    transform: translateX(-100%);
    width: 100%;
    background-color: #538dcc;
    transition: linear 0.5s;
    position: absolute;
    border-top: 2px solid #ffe033;
}

.nav-open {
    transform: translateX(0);
}

.navigation__item {
    margin-bottom: 15px;
}

.navigation__link {
    font-size: 14px;
    color: #538dcc;
}

.nav-link:hover {
    color: #ffe033;
}

/* @Tablet
-------------------------------------------------------*/
@media (min-width: 768px) {

    .container {
        width: 768px;
        max-width: 100%; 
        margin: 0 auto;
    }

    .company-info-wrap {
        display: flex;
        justify-content: space-between;
    }

    .contacts-wrap {
        padding: 10px 0px 10px;
        align-items: flex-end;
        background-color: #ffffff;
    }

    .header__contacts {
        margin-right: 10px;
    }

    .contacts-list__contact {                
        font-size: 16px;
        color: #000000;
    }
    
    .header__menu-btn {
        border: 1px solid #000000;
    }
}
/* @PC
-------------------------------------------------------*/
@media (min-width: 1620px) {

    .container {
        width: 1140px;
        max-width: 100%; 
        margin: 0 auto;
    }

    .header__menu-btn {
        display: none;
    }

    .header__contacts {
        margin: 0px;
    }

    .navigation {        
        position: unset;
        padding: 0px;
        border: none;        
        transform: translateX(0%);
        transition: none;
        background-color: #538dcc;
    }

    .navigation-list {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .navigation__item {
        margin: 0px;
    }

    .navigation__link {
        font-size: 16px;
        line-height: 60px;
        color: #ffffff;
    }
}

