.intro {
    padding: 50px 0px 80px;
    text-align: center;
    font-family: 'Gotham Pro Medium';
    color: #ffffff;
    background-image: url(/images/home-page/intro-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.intro__title {
    margin: 0px;
    font-size: 38px;
    line-height: 48px;
}

.intro__title-descriptor {
    font-size: 18px;
    line-height: 28px;
}

.intro__commercial-btn_position {
    margin-bottom: 30px;
}