.description {
    padding: 50px 0px 50px;
}

.description__subheading {    
    margin-bottom: 50px;
}

.advantages__block {     
    padding-bottom: 20px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    width: 350px; 
    max-width: 100%;           
    box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.1);
    background-color: #f8f9fa;
}

.heading-wrap {
    padding: 0px 5px;
    width: 350px;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #538dcc;
}

.advantages__heading {
    text-align: center;
    color: #ffffff;
}

.advantages__img {    
    margin-bottom: 20px;
    display: block;
    width: 350px;
    max-width: 100%;
}

.advantages__block-name {
    margin: 0px 0px 20px;
    padding: 0px 10px;
}

.advantages__item_before_triangle::before {
    content: '\25b6';
    margin-right: 10px;
    font-size: 20px;
    color: #538dcc;
}

// .advantages__item_color {
//     color: #000000;
//     &::before {
//         content: '\25b6';
//         font-size: 20px;
//         color: #538dcc;
//     }
// }

// .advantages__item {    
//     margin-bottom: 10px;
//     padding: 0px 20px 0px;
// }

@media (min-width: 768px) {

    .advantages-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

@media (min-width: 1620px) {
    .advantages-wrap {
        margin: 0 auto;
        justify-content: space-between;
    }
    
    .advantages__block {
        width: 500px;
        max-width: 500px;
        margin-bottom: 50px;
    }

    .heading-wrap {
        width: 500px;
    }

    .advantages__img {    
        width: 500px;
        max-width: 500px;
        height: 300px;
    }
}



