.services-page__intro {    
    background-image: url(/images/services-page/services-page-intro-bg-min.jpg);
    background-size: cover;
    background-position: center bottom;
}

.services-list {
    padding-top: 20px;
}

.services-list__title {
    margin: 0 auto 50px;
    // background-color: #538dcc;
}
.service-list_font-color {
    color: #000000;
}
