.services {
    // padding-top: 50px;
}

.service {
   padding: 50px 0px 50px;
   min-height: 500px;
   display: flex;
   align-items: center;   
}

.service__heading {
    margin: 0px 0px 30px;
}

.heading-style-1_align_left,
.heading-style-2_align_left {
    text-align: left;
}

.subheading-style_position {
    margin-bottom: 30px;
    text-align: left;
}

.subheading-style_font_color {
    color: #ffffff;
}

.advantages {
    margin: 0px;
    padding: 0px 10px;
}

.advantages_position {
    margin: 0px 0px 30px;
}

.advantages__item {
    margin-bottom: 5px;
    display: flex;
}

.advantages__item_before_square::before {    
    content: '▪';
    font-size: 24px;    
    color: #ffffff;    
    margin-right: 10px;    
}

.advantages__item_before_color::before {
    content: '▪';
    font-size: 24px;    
    color: #538dcc;
}

.advantages__item_font_color {
    color: #ffffff;
}

.services__btn-style {
    margin: 0px 0px 0px 10px;
    width: 200px;
}

.service_state_bg,
.service_commercial_bg { 
    margin-bottom: 5px;
    background-image: url(/images/home-page/test/services-commercial-bg.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.service_state_bg {    
    background-image: url(/images/home-page/test/services-state-bg.jpg);
}




@media (min-width: 768px) {

    .service {                
        width: 100%;
        min-height: 780px;
    }

    .service__heading {
        margin: 0px 0px 50px;
    }

    .subheading-style_position {
        margin-bottom: 50px;
    }

    .advantages_position {
        margin: 0px 0px 50px;
    }
    
}

@media (min-width: 1620px) {
    
     .service {                
        width: 100%;
        min-height: 780px;
    }

    .service__content {
        max-width: 60%;
    }

    .service_state_bg,
    .service_commercial_bg { 
    background-position: center;
}
    
}