.trust-us {
        padding: 50px 0px 0px;
}

.logo-box-mob__slider {
    padding: 50px 20px;
    background-color: #f7f7f7;
}

.logo-box-mob__slider.left-arrow {
    width: 15px;
}

.logo-box-mob__slider .right-arrow {
    width: 15px;
}

.logo-box-mob__partners {
    margin: 0 auto;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}   

.logo-box-mob__item,
.logo-box-pc__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto; 
    width: 100px;
    height: 100px;
    border: 1px solid #f4f4f4;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.1);
}

.logo-box-mob__img { 
    width: 100px;
    padding: 10px;
}

.logo-box-pc {
    display: none;
}

@media (min-width: 768px) {

    .logo-box-pc {
        display: none;
    }

    .logo-box-mob__partners {
        width: 640px;
    } 

    .logo-box-mob__item {
        width: 150px;
        height: 150px;
    }

    .logo-box-mob__img {
        width: 140px;        
    }
}

@media (min-width: 1620px) {
    
    .trust-us__slider {
        display: none;
    }

    .logo-box-pc {
        display: block;
        margin: 0px;
    }

    .logo-box-pc_bg_color {
        background-color: #f7f7f7;
    }

    .logo-pc {
        margin: 0px 0px 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo-box-pc__item {
        margin: 5px;        
        width: 180px;
        height: 180px;        
    }
    

    // .logo-box-pc__item {
    //     margin: 5px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;        
    //     width: 180px;
    //     height: 180px;
    //     border: 1px solid #f4f4f4;
    //     background-color: #ffffff;
    //     box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.1);
    // }
    
    .logo-box-mob__partners {
        width: 768px;
    }

    .logo-box-pc__img {
        width: 140px;
    }

}


    
 
