.trust-us {
    padding-top: 50px;
}

.trust-us__slider {
    padding: 50px 20px;
    background-color: #f7f7f7;
}
.trust-us-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.1);
}

.carusel-img {
    padding-left: 10px;
    padding-right: 10px;
}

// .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
//     background: none !important;
//     outline: none !important;
//     opacity: 1;
// }

.trust-us__slider .left-arrow {
    width: 15px;
}

.trust-us__slider .right-arrow {
    width: 15px;
}



.logo-box-pc {
    display: none;
}

@media (min-width: 768px) {

    .logo-box-pc {
        display: none;
    }

    .trust-us-item {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1620px) {
   
    .trust-us {
        padding: 50px 0px 50px;
    }

    .trust-us__logo-slider {
        display: none;
    }

    .logo-box-pc {
        display: block;
        margin: 0px;
        // padding: 50px 0px 50px;        
    }

    .logo-box-pc_bg_color {
        background-color: #f7f7f7;
    }

    .logo-pc {
        margin: 0px;
        // margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo-pc__item {
        padding: 10px;
        margin: 6px 0px;
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 180px;
        height: 180px;
        background-color: #ffffff;
        box-shadow: 0px 3px 5px 0px rgba(1, 1, 1, 0.1);
    }

    .logo-pc__img {
        width: 150px;
    }

}


    
 
